/* ========== Breadcrumb Section ========== */
.breadcrumb {
  background-color: #F3F3F3;
  padding: 10px 0;

  &__list {
    display: flex;
    @include font(300, 14px, 17px);
    color: $text-white-theme-color;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:not(:last-child)::after {
      content: "/";
      margin-left: 10px;
    }
  }

  &__link {
    transition: color $transition-delay;

    &:hover {
      color: $accent-color;
    }
  }
}
/* ========== End Breadcrumb Section ========== */