/* ========== Catalogue List Section ========== */
.catalogue-list {
  margin: 40px 0;
  
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__sidebar {
    width: 267px;
    margin-right: 24px;
  }
  
  &__menu {
    padding: 12px 0;
    margin-bottom: 26px;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
  }

  &__menu-item {
    &[data-action-opened] > .catalogue-list__menu-button {
      background-color: rgba(240, 240, 240, 0.64);
    }

    &[data-action-opened] .catalogue-list__button-svg {
      transform: translateY(-50%) rotate(0.5turn);
    }
    
    &[data-action-opened] > .catalogue-list__menu-sublist {
      display: block;
    }

    &:not(:first-child) .catalogue-list__menu-button::before {
      content: "";
      position: relative;
      top: -8px;
      display: block;
      height: 1px;
      background-color: rgba(196, 196, 196, 0.29);;
    }
  }

  &__menu-title {
    @include font(500, 14px, 17px);
    color: $title-white-theme-color;
  }

  &__menu-button {
    position: relative;
    display: block;
    width: 100%;
    min-height: 35px;
    padding: 6px 18px;
    background-color: #FFFFFF;
    border: none;
    text-align: start;
    cursor: pointer;
    transition: background-color $transition-delay;
    
    &:hover > .catalogue-list__menu-title {
      color: $accent-color;
    }
  }
  
  &__button-svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  &__menu-sublist {
    display: none;
    padding: 4px 20px 4px 40px;
  }
  
  &__menu-subitem:not(:last-child) {
    margin-bottom: 4px;
  }

  &__menu-subtitle {
    display: block;
    position: relative;
    @include font(400, 13px, 24px);
    color: $title-white-theme-color;
    cursor: pointer;
    transition: color $transition-delay;

    &:hover {
      color: $accent-color;
    }

    &:hover::before {
      background-color: $accent-color;
    }
  }

  &__menu-subtitle::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -18px;
    display: block;
    width: 2px;
    height: 2px;
    background-color: #C4C4C4;
    transition: background-color $transition-delay;
  }
  
  &__filter-list {
    width: 267px;
  }

  &__filter-item {
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    margin-bottom: 26px;
  }

  &__filter-button {
    position: relative;
    display: block;
    width: 100%;
    min-height: 35px;
    padding: 6px 18px;
    background-color: #FFFFFF;
    border: none;
    text-align: start;
    cursor: pointer;
    transition: background-color $transition-delay;
  }

  &__filter-title {
    @include font(500, 14px, 17px);
    color: $title-white-theme-color;
    transition: color $transition-delay;

    .catalogue-list__filter-button:hover > & {
      color: $accent-color;
    }
  }

  &__manufacturer-content {
    padding: 20px 20px 12px;
  }

  &__manufacturer-list {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }

  &__manufacturer-item {
    width: calc((100% - 4 * 8px) / 2);
    margin: 8px;

    .catalogue-list__manufacturer-list:not([data-action-opened]) > &:not(:nth-child(-n+6)) {
      display: none;
    }
  }

  &__manufacturer-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__manufacturer-icon {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 8px;
    border: 1px solid #D0D0D0;
    border-radius: 3px;

    .catalogue-list__manufacturer-input:focus ~ & {
      border-color: $accent-color;
    }

    .catalogue-list__manufacturer-input:checked ~ & {
      background-image: url("../icons/check-mark.svg");
      background-size: 12px 9px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__manufacturer-button {
    margin-top: 14px;
    background: none;
    border: none;
    @include font(400, 13px, 16px);
    color: $accent-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__type-content {
    padding: 20px;
  }

  &__type-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__type-label {
    display: flex;
    align-items: center;
  }

  &__type-icon {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 8px;
    border: 1px solid #D0D0D0;
    border-radius: 50%;

    .catalogue-list__type-input:focus ~ & {
      border-color: $accent-color;
    }

    .catalogue-list__type-input:checked ~ & {
      background-color: #D0D0D0;
      box-shadow: inset 0px 0px 0px 5px #FFFFFF;
    }
  }

  &__country-content {
    padding: 20px 20px 12px;
  }

  &__country-item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__country-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__country-icon {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 8px;
    border: 1px solid #D0D0D0;
    border-radius: 3px;

    .catalogue-list__country-input:focus ~ & {
      border-color: $accent-color;
    }

    .catalogue-list__country-input:checked ~ & {
      background-image: url("../icons/check-mark.svg");
      background-size: 12px 9px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__country-button {
    margin-top: 14px;
    background: none;
    border: none;
    @include font(400, 13px, 16px);
    color: $accent-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__equipment-content {
    padding: 20px 20px 12px;
  }

  &__equipment-item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__equipment-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__equipment-icon {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 8px;
    border: 1px solid #D0D0D0;
    border-radius: 3px;

    .catalogue-list__equipment-input:focus ~ & {
      border-color: $accent-color;
    }

    .catalogue-list__equipment-input:checked ~ & {
      background-image: url("../icons/check-mark.svg");
      background-size: 12px 9px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__equipment-button {
    margin-top: 14px;
    background: none;
    border: none;
    @include font(400, 13px, 16px);
    color: $accent-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button-submit {
    width: 267px;
    height: 44px;
    margin-bottom: 12px;
  }

  &__button-reset {
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    @include font(500, 14px, 17px);
    color: rgba(49, 49, 49, 0.68);
    cursor: pointer;
    transition: color $transition-delay;

    &:hover {
      color: $accent-color;
    }
  }

  &__catalogue-container {
    width: 100%;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__categories {
    margin-bottom: 37px;
  }

  &__categories-list {
    display: flex;
    justify-content: space-between;
  }

  &__categories-item {
    margin-bottom: 13px;
  }

  &__categories-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 197px;
    height: 56px;
    border: 1px solid $accent-color;
    border-radius: 3px;
    @include font(400, 16px, 23px);
    color: $accent-color;

    &--active {
      background-color: #F6F6F6;
      border-color: transparent;
      border-radius: 3px;
      color: $title-white-theme-color;
    }

    &--active::after {
      content: "";
      display: block;
      width: 13px;
      height: 13px;
      margin-left: 10px;
      margin-bottom: -2px;
      background-image: url("../icons/cross.svg");
      background-size: 13px;
    }
  }

  &__categories-main-link {
    display: block;
    margin-left: auto;
    text-align: right;
    @include font(500, 14px, 17px);
    color: rgba(49, 49, 49, 0.68);

    &:hover {
      text-decoration: underline;
    }
  }

  &__selected-filters {
    margin-bottom: 28px;
  }

  &__selected-filters-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  &__selected-filters-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    padding: 0 19px;
    margin-right: 19px;
    border: 1px solid #D9D9D9;
    border-radius: 300px;
    @include font(400, 14px, 23px);
    color: $title-white-theme-color;
  }

  &__selected-filters-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-left: 8px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    .catalogue-list__selected-filters-item:first-child > & {
      background-color: #E4E4E4;
    }
  }

  &__selected-filters-svg {
    fill: rgba(0, 0, 0, 0.28);
    transition: fill $transition-delay;

    .catalogue-list__selected-filters-item:first-child & {
      fill: #000000;
    }

    .catalogue-list__selected-filters-button:hover > & {
      fill: $accent-color;
    }
  }

  &__sorting {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 31px;
    border-top: 1px solid #F0F0F0;
  }
  
  &__sorting-container {
    display: flex;
    align-items: center;
  }
  
  &__sorting-title {
    margin-right: 10px;
    @include font(400, 14px, 29px);
    color: #939393;
  }

  &__select-per-page {
    min-width: 18px
  }

  &__catalogue {
    margin-bottom: 46px;
  }

  &__catalogue-list {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
  }

  &__catalogue-item {
    width: calc((100% - 6 * 12px) / 3);
    height: 588px;
    margin: 12px;
    border: 1px solid tomato;
  }
}
/* ========== End Catalogue List Section ========== */