/* ========== footer Section ========== */
.footer {
  &__section {
    padding-top: 37px;
    background-color: #212121;
    color: $text-dark-theme-color;

    & a {
      color: $text-dark-theme-color;
    }
  }

  &__top-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(237, 237, 237, 0.34);
    padding-bottom: 25px;

    & a {
      text-decoration: none;
    }
  }

  &__top-line-item {
    &:not(:first-child) {
      margin-top: 20px;
    }

    &:hover > a {
      color: $accent-color;
    }

    &:first-child {
      font-weight: bold;
    }
  }

  &__bottom-line {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
  }
  &__bottom-line-first-col,
  &__bottom-line-second-col {
    margin-top: 40px;
  }

  &__bottom-line-first-col {
    & > .text {
      font-weight: 300;
      font-size: 13px;
      line-height: 20px;
      color: rgba(200, 200, 200, 0.62);

      & > a {
        color: rgba(200, 200, 200, 0.62);
        text-decoration: underline rgba(200, 200, 200, 0.62);
      }


      &:nth-child(2) {
        margin-top: 40px;
      }

      &:last-child > a:last-child {
        margin-left: 20px;
      }
    }
  }

  &__bottom-line-second-col {
    display: flex;
    align-items: center;
    flex-direction: column;

    & > div {
      display: flex;
      justify-content: space-between;

      & svg {
        fill: $icons-standart-color;
        margin-right: 5px;
      }

      & div {
        & > div:not(:first-child) {
          margin-top: 18px;
        }

        &:not(:first-child) {
          & > div {
            margin-left: 45px;
          }
        }
      }
    }

    & .header__search {
      margin-top: 25px;
    }

    & .header__search > input {
      background-color: rgba(255, 255, 255, 0.14);
      outline: 1px solid rgba(223, 223, 223, 0.11);
      border: 1px solid rgba(223, 223, 223, 0.11);
      color: $text-dark-theme-color;
    }
  }

  &__bottom-line-third-col {
    display: flex;

    & > div:not(:first-child) {
      margin-left: 30px;
    }

    & .container-title {
      text-align: center;
      width: 100%;
    }

    & .icons-list {
      display: flex;
      justify-content: center;
      margin-top: 13px;

      & > span {
        display: block;
        padding: 10px;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.14);

        &:hover {
          border: 1px solid rgba(223, 223, 223, 0.11);
          background-color: #212121;
        }
      }

      & > span:not(:first-child) {
        margin-left: 12px;
      }
    }

    & > .socials {
      display: flex;
      flex-direction: column;
      align-items: end;

    }

    & .yandex-market {
      margin-top: 33px;
    }
  }
}
/* ========== End footer Section ========== */