.help-form {
  &__section {
    background: url("../../images/index/consultant.png") no-repeat right 30% bottom,
    url("../../images/index/tools.png") no-repeat top 34% right 15%,
    linear-gradient(to top right, #CBCBCB, #FFFF 100%);
  }

  &__col {
    width: 60%;
  }

  &__title span {
    display: block;
    color: $accent-color;
    margin-top: 23px;
  }

  &__subtitle {
    margin-top: 40px;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    width: 80%;
  }

  &__form {
    margin-top: 50px;
    width: 80%;
  }
  &__input {
    width: 268px;
    height: 67px;
  }

  &__textarea,
  &__input {
    padding: 0 22px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
  }

  &__input::placeholder,
  &__textarea::placeholder {
    color: $text-white-theme-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 57px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
  }

  &__row .license {
    width: 50%;
    display: flex;
  }

  &__row .license span {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #6C6C6C;
  }

  &__checkbox {
    display: none;
  }

  &__custom-checkbox {
    position: relative;
    width: 30px;
    height: 30px;
    background: $text-dark-theme-color;
    margin-right: 8px;
  }

  &__custom-checkbox::before {
    content: "";
    position: absolute;
    display: none;
    width: 25px;
    height: 25px;
    background:url("../../icons/check-mark.svg") no-repeat center ;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__checkbox:checked ~ &__custom-checkbox::before {
    display: block;
  }
}