.brands {
 &__list {
   display: flex;
   list-style: none;
 }

  &__list-item {
    font-size: 17px;
    line-height: 23px;
    color: #979797;
  }

  &__list-item:first-child {
    border: none;
  }

  &__logo {
    border-left: 1px solid rgba(228, 228, 228, 0.82);
    border-right: 1px solid rgba(228, 228, 228, 0.82);
    padding: 0 40px;
  }

  &__list-item:first-child,
  &__list-item:last-child {
    & div {
      border: none;
    }
  }

  &__list-item:last-child {
    .brands__logo {
     padding: 0;
    }
  }

  &__name {
    margin-top: 15px;
    padding: 10px;
  }
}