/* ========== Promotions Section ========== */
.promotions {
  &__container {
    text-align: center;
  }

  &__title-container {
    display: flex;
    align-items: end;
    margin-bottom: 44px;
  }

  &__title {
    margin-right: auto;
    @include font(500, 48px, 46px);
    color: $title-white-theme-color;
  }

  &__button--prev {
    margin-right: 12px;
  }

  &__button--next {
    transform: rotate(0.5turn);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    text-align: start;
  }

  &__item {
    width: 530px;
    padding: 40px 40px 20px;
    border-radius: 3px;
    
    &--first {
      background-image: url('../images/index/promotions/bg-item-1.jpg');
    }
    
    &--second {
      background-image: url('../images/index/promotions/bg-item-2.jpg');
    }
  }

  &__item-subtitle {
    margin-bottom: 30px;
    @include font(500, 26px, 35px);
    color: $title-white-theme-color;
  }

  &__item-button {
    width: 180px;
    height: 58px;
    margin-bottom: 30px;
  }

  &__item-text {
    @include font(300, 16px, 35px);
    color: $text-white-theme-color;
  }

  &__main-link {
    @include font(600, 18px, 57px);
    color: $accent-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
/* ========== End Promotions Section ========== */