.independent-reviews {
  &__list {
    list-style: none;
    display: flex;
  }

  &__list-item {
    width: calc((100% - 48px) / 2);
    padding: 13px;
    border: 1px solid #F0F0F0;
    margin: 25px;

    & > div {
      text-align: center;
    }
  }

  &__list-item:hover {
    box-shadow: 0 15px 33px -30px #313131;
  }

  &__list-item--img {
    margin-top: 33px;
  }

  &__list-item--rate {
    display: flex;
    justify-content: center;
    line-height: 46px;
    align-items: baseline;

    & > span {
      font-weight: 500;
      font-size: 24px;
      margin: 0 6px;

    }
  }

  &__list-item--link > a {
    text-decoration-color: rgba(235, 0, 0, 0.24);
    color: $text-white-theme-color;
  }

  &__list-item--link > a:hover {
    color: $accent-color;
  }

}