/* ========== Slider Section ========== */
.slider {
  text-align: center;
  
  &--red {
    background: linear-gradient(93.72deg, #FF4F4F 31.1%, rgba(255, 79, 79, 0) 76.09%);
    background-color: #EB0000;
  }

  &--blue {
    background: linear-gradient(93.16deg, #CDF1FF 19.05%, rgba(205, 241, 255, 0) 69.11%);
    background-color: #A2E1FA;
  }

  &--grey {
    background: linear-gradient(97.16deg, #5A5A5A 20.08%, rgba(69, 69, 69, 0) 61.94%);
    background-color: #313131;
  }

  &__button-thumb {
    display: flex;
    justify-content: space-around;
  }

  &__button--next {
    transform: rotate(0.5turn);
  }
}

.slider-list {
  &__title {
    margin-bottom: 8px;
    @include font(800, 26px, 30px);
  }
  
  &__title--white {
    color: $title-dark-theme-color;
  }

  &__title--dark {
    color: $title-white-theme-color;
  }
  
  &__text {
    display: inline-block;
    margin-bottom: 23px;
    @include font(400, 12px, 16px);
    color: $text-white-theme-color;
  }

  &__text--white {
    color: $text-dark-theme-color;
  }

  &__text--dark {
    color: $text-white-theme-color;
  }

  &__button {
    width: 160px;
    height: 38px;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    padding-bottom: 12px;
  }

  .slider-list {
    &__button-container {
      margin-bottom: 23px;
    }
    
    &__button {
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__image {
      max-width: 100%;
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .slider-list {
    &__button {
      @include font(500, 12px, 18px);

      &:hover {
        font-size: 11px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .slider {
    &__container {
      position: relative;
    }

    &__button {
      position: absolute;
      top: 50%;
    }
    
    &__button--prev {
      left: 4px;
      transform: translateY(-50%);
    }

    &__button--next {
      right: 4px;
      transform: translateY(-50%) rotate(0.5turn);
    }
  }

  .slider-list {
    &__text {
      margin-bottom: 46px;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__button-container {
      display: flex;
    }

    &__button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__image {
      max-width: 45%;
      margin-left: 6px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .slider {
    text-align: start;
  }

  .slider-list {
    &__button {
      width: 240px;
      height: 58px;

      &:not(:last-child) {
        margin-right: 26px;
      }
    }
  }
}
/* ========== End Slider Section ========== */