.subscribe {
  &__section {
    background:  #272727;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    background: url("");
  }

  &__title {
    font-weight: 500;
    font-size: 37px;
    line-height: 57px;
  }

  &__title,
  &__subtitle {
    color: $text-dark-theme-color;
  }

  &__subtitle {
    margin-top: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }

  &__form {
    margin-top: 35px;
  }

  &__input {
    width: 40%;
    height: 58px;
    padding: 0 22px;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    background: #272727;
    margin-left: 25px;
  }

  &__input:first-child {
    margin-left: 0;
  }

  &__input::placeholder {
    color: #8F8F8F;
    font-weight: 500;
    font-size: 18px;
    line-height: 57px;
  }

  &__button {
    margin-left: 25px;
    width: 40%;
  }

  &__checkbox {
    width: 30px;
    height: 30px;
    margin-right: 11px;
    border-radius: 5px;
    display: none;
  }

  &__license {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  &__license--text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #6C6C6C
  }

  &__custom-check-icon {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #50514f;
    margin-right: 8px;
  }

  &__custom-check-icon::before {
    content: "";
    position: absolute;
    display: none;
    width: 25px;
    height: 25px;
    background:url("../../icons/check-mark.svg") no-repeat center ;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__checkbox:checked ~ &__custom-check-icon::before {
    display: block;
  }

}