.support__container {
  &-item,
  &-main-item,
  &-bottom-item {
    font-weight: 500;
    font-size: 23px;
    line-height: 31px;
    border-radius: 3px;
  }

  &-item:hover,
  &-main-item:hover,
  &-bottom-item:hover {
    color: $accent-color;

    & button {
      background: $text-dark-theme-color;
    }
  }

  &-main-item {
    min-width: 558px;
    min-height: 410px;
    background: url("../../images/index/service-and-support/item-1.png") no-repeat bottom right, #FFE4DF;
    padding: 35px;
  }

  &-row {
   display: flex;
  }

  &-col > div {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin-left: 12px;
  }

  &-col > div > &-item:last-child {
    margin-right: 0;
  }

  &-col > div:first-child{
    margin-bottom: 24px;
  }

  &-col .item-1 {
    background: url("../../images/index/service-and-support/item-2.png") no-repeat bottom right, #FFF5DA;
  }

  &-col .item-2 {
    background: url("../../images/index/service-and-support/item-3.png") no-repeat bottom right, #F1F1F1;
  }

  &-col .item-3 {
    background: url("../../images/index/service-and-support/item-4.png") no-repeat bottom right, #F1F1F1;
  }

  &-col .item-4 {
    background: url("../../images/index/service-and-support/item-5.png") no-repeat bottom right, #FFE4DF;
  }

  &-item {
    margin: 0 12px;
    padding: 35px;
    font-weight: 500;
    font-size: 23px;
    line-height: 31px;
    width: 45%;
    border-radius: 3px;
  }

  &-item button,
  &-main-item button {
    margin-top: 20px;
  }

  &-bottom-item {
    display: flex;
    align-items: center;
    margin: 24px 24px 0 0;
    padding: 35px;
    height: 150px;
    background: url("../../images/index/service-and-support/item-6.png") no-repeat bottom right, #FFF5DA;
  }

  &-bottom-item button {
    margin-left: 20px;
  }
}